html, body {
	margin:0;
	padding:0;
    height:100%;
	font-family: Helvetica, Arial, sans-serif;
    color: #eeeeee;
    background-color: #333333;
}
#top_nav{margin-bottom:0;}
#top-bar {
	position:fixed;
	top:0px;
	left:0px;
	height:50px;
	width:100%;
	z-index:999;
	overflow:hidden;
}
#wrapper{display:inline-block;width:100%;}
#topbar-inner{background-color: #222;}
#footer-inner{background:#484747;}
#topbar-inner,#footer-inner {height:50px;}
#footer {
    border-top:1px solid #222;
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	z-index:999;
}
.inner {
	padding:70px 0;
	position:relative;
}




body { 

}

#board {
	float: left;
	width: 100%;
	display: table;
    border-collapse:separate;
    border-spacing:8px;
    table-layout: fixed;
}
#board .col_state {
    background-color: #f4ecd8;
	display: table-cell;
    padding:8px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    color: #5b4636;
    position:relative;
    
}
ul { 
	list-style: none; 
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}
#board .col_state.placeholder{
    border-style: dashed;
    background-color: #fff;
}
#board .col_state .edit{position:relative;right:-8px;top:-2px;}
#board .column_head{margin:0;padding:8px 0 15px 0;font-size:20px;}
#board .col_state .coloption{position:absolute;top:15px;right:8px;z-index:2;}
#board .col_state .coloption a.coloption_trigger,
#board .col_state .coloption a.coloption_trigger:hover,
#board .col_state .coloption a.coloption_trigger:active {color:#bdb1a8;text-decoration: none;}

#board .col_state .coloption .coldropdown{position:absolute;top:22px;right:0;z-index:2;display:none;}
#board .col_state .coloption .coldropdown.show_col_dropdown{display:block;}




ul.state .box input,
ul.state .box textarea,
.column_head input{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;resize: none;}

.box {
	background-color: #fff;
    font-size: 90%;
}


.highlight .box {
	background-color: #009999;
}

.placeholder div { 
	background-color:white !important; 
	border:dashed 1px gray !important; 
	margin:5px;
}

.panel-primary .panel-heading input{color:rgb(51, 122, 183)}



.clear {
	clear: both;
}
.people-list{display:inline-block;width:100%;padding:14px 0;}
.people-list li {
	float: left;
	margin-left: 10px;
}

nav.top {
	padding: 5px;
	display: inline-block;
	background: #666;
    width:100%;
    vertical-align: top;
}

nav.top a, nav.top a:visited, nav.top a:active {
	color: #fff;
	text-decoration: none;
}
nav.top ul{
    float: left;
}
nav.top li {
	float: left;
	margin-right: 10px;
}
.modal-dialog{
    color: #5b4636;
}
ul.coldropdown{background:#f2efea;border-radius: 5px;width:150px;border: 1px solid #b5b5b5;}
ul.coldropdown a{color: #5b4636;display:block;padding:3px 5px;}

#edit_card textarea.card_content_textarea{resize:none;} 
#edit_card input.card_user,
#edit_card h3 input.editBox,
#edit_card textarea.card_content_textarea{width:100%;} 
.state .user_container{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:8px 0;margin-bottom:8px;}
.state .card_title{display:inline-block;}
.state .card_content{padding:8px 8px 0 8px;}
.state .card-footer{padding:8px;}
.state .user_responsible{position:relative;top:-12px;left:-4px;background:#fff;display:inline-block;}
.state .user_responsible img{width:35px;height:35px;border-radius: 4px;border:1px solid #ccc;}
.state .box{border-radius:4px;border: 1px solid #ddd;position:relative;background:#fff;margin-bottom:20px;padding-top:5px;}
.state .box.color_0{border-top:3px solid #cccccc;}
.state .box.color_1{border-top:3px solid #337ab7;}
.state .box.color_2{border-top:3px solid #5cb85c;}
.state .box.color_3{border-top:3px solid #5bc0de;}
.state .box.color_4{border-top:3px solid #f0ad4e;}
.state .box.color_5{border-top:3px solid #d9534f;}

.state .box a.card_edit{color:#ddd;}
.state .box a.card_edit:hover{color:#777;}